._*
.aws
.babel.json
.backport
.bash_history
.bash_sessions/
.bundle
.cache
.cargo
.CFUserTextEncoding
.config/.shell_private*
.config/configstore/
.config/devcert/
.config/gatsby/
.config/htop/
.config/ox/
.config/thefuck/
.config/yarn/
.cups
.docker
.DS_Store
.faraday
.gem
.gitconfig
.gnupg
.lesshst
.local
.node-gyp/
.npm
.npmrc
.nvm
.profile
.rustup
.rvm
.ssh
.subversion
.tldrc/
.Trash/
.vscode
.vscode-oss
.yarn
.yarnrc
.yvm
.zcompcache/
.zcompdump
.zsh_history
*.padl
Applications
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
node_modules
OneDrive*
Pictures
Public
yarn.lock